.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 93%;
  overflow: auto;
  max-width: 100%;
  background-size: 70px 120px;

  &__content {
    display: flex;
    align-items: center;
    width: 85%;
    height: 90%;
  }

  &__header {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 14px;
    letter-spacing: 0.25ch;
  }
  &__chart {
    width: 50%;
  }
  &__image {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
  }
  &__info {
    display: inline-block;
    margin: 1rem 1rem 14px 0px;
  }
  &__description {
    width: 50%;
    font-size: 14px;
    font-weight: 300;
    padding: 1rem 2rem;
  }
  &__ability {
    text-transform: capitalize;
    &::after {
      content: " | ";
    }
    &:last-child::after {
      content: "";
    }
  }

  @media only screen and (max-width: 600px) {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      height: 95%;
      overflow: scroll;
    }

    &__header {
      padding-bottom: 0.5em;
      text-align: center;
    }

    &__description {
      width: 80%;
      font-size: 15px;
      font-weight: 400;
      padding-bottom: 1em;
    }

    &__chart {
      width: 90%;
      margin: 30px 0;
    }

    &__image {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 0.5em;
    }
  }
}


.imagen:hover {
  align-self: flex-end;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  margin: 0 auto;
  -webkit-transform-origin: bottom;
  transform-origin: bottom
}

.bounce:hover {
  -webkit-animation-name: bounce-7;
  animation-name: bounce-7;
  -webkit-animation-timing-function: cubic-bezier(.28,.84,.42,1);
  animation-timing-function: cubic-bezier(.28,.84,.42,1)
}

@-webkit-keyframes bounce-7 {
  0% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0)
  }

  10% {
      -webkit-transform: scale(1.1,.9) translateY(0);
      transform: scale(1.1,.9) translateY(0)
  }

  30% {
      -webkit-transform: scale(.9,1.1) translateY(-40px);
      transform: scale(.9,1.1) translateY(-40px)
  }

  50% {
      -webkit-transform: scale(1.05,.95) translateY(0);
      transform: scale(1.05,.95) translateY(0)
  }

  57% {
      -webkit-transform: scale(1) translateY(-5px);
      transform: scale(1) translateY(-5px)
  }

  64% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0)
  }

  to {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0)
  }
}

@keyframes bounce-7 {
  0% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0)
  }

  10% {
      -webkit-transform: scale(1.1,.9) translateY(0);
      transform: scale(1.1,.9) translateY(0)
  }

  30% {
      -webkit-transform: scale(.9,1.1) translateY(-40px);
      transform: scale(.9,1.1) translateY(-40px)
  }

  50% {
      -webkit-transform: scale(1.05,.95) translateY(0);
      transform: scale(1.05,.95) translateY(0)
  }

  57% {
      -webkit-transform: scale(1) translateY(-5px);
      transform: scale(1) translateY(-5px)
  }

  64% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0)
  }

  to {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0)
  }
}
